<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        body {
          background-color: lightblue;
          width: 65%;
          margin: 20px auto;
        }
        div#pagetop {
            border-bottom: 3px solid red;
        }
        div#footer {
            background-color: darkblue;
            color: yellow;
            border-top: 3px solid red;
            padding: 8px;
        }
    </style>
</head>
<body>
<div id="pagetop">
    {{#block "pagetop"}}
    <h1>Generic page</h1>
    {{/block}}
</div>

{{#block "content"}}
{{/block}}

<div id="footer">
    Copyright 2016 CL | Privacy policy
</div>

</body>
</html>