<!DOCTYPE html>
<html lang="en">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<img src="poll.png">
<div class="container">
<form action="/login" method="get">
    <button type="submit" class="btn btn-default btn-lg active">Login</button>
</form>
    <br>
<form action="/registration" method="get">
    <button type="submit" class="btn btn-default btn-lg active">Registration</button>
</form>
</div>
</body>
</html>